In [7]:
import pandas as pd
import numpy as np
df=pd.ExcelFile("2.xls")
print df.sheet_names
sheet1=df.parse('Sheet1')
sheet1

[u'Sheet1', u'Sheet2', u'Sheet3']

   12   345  567
0   12   43  789

[1 rows x 3 columns]

In [10]:
type(sheet1)

pandas.core.frame.DataFrame

In [13]:
sheet1.shape

(1, 3)

In [14]:
sheet1.columns

Int64Index([12, 345, 567], dtype='int64')

In [16]:
sheet1[345]

0    43
Name: 345, dtype: int64

In [17]:
sheet1.shape

(1, 3)

In [18]:
xls=pd.ExcelFile('2.xls')
print xls.sheet_names

[u'Sheet1', u'Sheet2', u'Sheet3']

In [19]:
sh1=xls.parse('Sheet1')
sh1.shape

(2, 3)

In [20]:
sh1.columns

Int64Index([12, 345, 567], dtype='int64')

In [21]:
sh1[12]

0    12
1    13
Name: 12, dtype: int64

In [23]:
ka=pd.ExcelFile('KA Data--2016.03.xlsx')
print ka.sheet_names

[u'raw data', u'By BL, BL&MG', u'by client no.', u'SP+Buyer (1)', u'SP+Buyer (2)', u'Sales Org. + Annual', u'Summary report']

In [25]:
raw_data=ka.parse('raw data')

In [26]:
raw_data.columns

Index([u'Business stream', u'BF', u'BL no.', u'BL', u'Material Group', u'Material', u'Sales Office', u'Sales Group', u'Sales employee', u'Responsible Engineer', u'Sales Document', u'Month', u'Orders', u'Sales', u'Sales org.', u'Sold-to pt', u'KA Group Name', u'KA company name', u'KA No.', u'Supplier', u'Supplier's Company Name', u'SAP Role', u'KA Classification', u'Approver', u'Approver no.'], dtype='object')

In [27]:
raw_data['BL']

0     IS
1     IS
2     IS
3     IS
4     IS
5     IS
6     IS
7     IS
8     IS
9     IS
10    IS
11    IS
12    IS
13    CP
14    CP
...
16934    CP
16935    CP
16936    CP
16937    CP
16938    CP
16939    CP
16940    CP
16941    CP
16942    CP
16943    CP
16944    CP
16945    CP
16946    CP
16947    CP
16948    CP
Name: BL, Length: 16949, dtype: object

In [28]:
print len(raw_data['BL'])

16949

In [29]:
se=raw_data['BL']

In [30]:
type(se)

pandas.core.series.Series

In [31]:
se.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...], dtype='int64')

In [34]:
print se[2]

IS

In [35]:
print len(se)

16949

In [37]:
for i in range(len(se)):
    if(se[i]=='IS'):
        print 'IS'

IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS
IS